header {
    background-color: var(--color-primary);
}

.dsmovie-navbar-content {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.dsmovie-navbar-h1 {
    font-weight: 700;
    font-size: 24px;
    padding-top: 10px;
}

.dsmovie-navbar-git {
    display: flex;
    align-items: center;
}

.dsmovie-navbar-git p {
    margin: 0 0 0 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}