ul {
    list-style-type: none;
}
.dsmovie-content {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.dsmovie-pagination-content {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.dsmovie-previous {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #4D41C0;
    box-sizing: border-box;
    border-radius: 4px;
}

.dsmovie-page {
    margin: 9px 0px 0px 0px;
    color: var(--color-primary);
}

.dsmovie-next {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #4D41C0;
    box-sizing: border-box;
    border-radius: 4px;
}